* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

nav{
    text-align: center;
    justify-content: space-between;
    display:flex;
    margin:auto;
    padding: 20px 100px 20px 100px;

}
.nav-links{
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: #0a0a0a;
    font-weight: 700;
    font-size: 15px;
}

.nav-links a:hover {
    color: #22c55e;
}
button{
    padding: 5px 30px 5px 30px;
    border: none;
    background-color: #22c55e;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}
button :hover{
    color:aliceblue
}
