* {
    margin: 0px;
    padding: 0px;
    
}
/* Navigation Bar */
.nav-bars{
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
}

.nav-bars ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px 0px;
}

.nav-bars ul li a{
    text-decoration: none;
    color:black;
}

.nav-bars ul li a:hover{
    color: #0cf36c;
}

.nav-logoes{
    margin-left: 50px;
}
.nav-logoes img{
    height: 60px;
    width: 139px;
}

.nav-bars button{
    margin-right: 50px;
    height: 44px;
    width: 164px;
    border-radius: 4px;
    color: white;
    background-color:#469165;
    border-color: transparent;
    font-size: 16px;
}

.nav-bars button:hover{
    background-color: transparent;
    color: #469165;
    border-color:#469165;
}

:root{
    --primary-color:#3fa36c;
}

/* Banner */
.banner{
    position: relative;
    width: 100%;
    height: 674px;
    background: url("../assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay{
    position: absolute;
    inset: 0;
    background: rgba(12, 34, 52, 0.75);
}


.banner-content{
    position: relative;
    max-width: 900px;
    text-align: center;
    color: white;
    z-index: 1;
}


.badge{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: white;
    color: var(--primary-color);
    padding: 8px 14px;
    border-radius: 100px;
    font-size: 14px;
    margin-bottom: 24px;
}

.dot{
    width: 8px;
    height: 8px;
    background: var(--primary-color);
    border-radius: 50%;
}

.banner-content h1{
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.highlight{
    color: var(--primary-color);
}

.banner-content p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
}

.banner-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.banner-btn button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.b-btn-1{
    background: var(--primary-color);
    color: white;
    border: none;
}

.b-btn-2{
    background: transparent;
    color: white;
    border: 2px solid white;
}

.b-btn-icon{
    width: 18px;
}

b-btn-1:hover{
    background: transparent;
    color: wheat;
    border: 2px solid var(--primary-color);

}

.b-btn-2:hover{
    background: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}
/* Notes Section */
.Notes-section {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;
}

.Notes-section h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 60px;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}


.card-icon {
  width: 45px;
  height: 45px;
  background-color: #ff5a5f;
  border-radius: 80%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 26px;
}


.card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}


.card p {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
}

.app-2{
    display: flex;
    flex-direction: row;
    width: var(--desktop-width);
    height: 840px;
    justify-content: center;
    align-items: center;
    
}

.app-2 img {
    width: 600px;
    height: 600px;
}

.app-2-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    height: 600px;
    width: 700px;
}


.a-2-li img{
    height: 20px;
    width: 20px;
}

.a-2-li {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}
.app-2-info h3{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    margin-top: 90px;
    margin-bottom: 20px;

}
.app-2-info h1{
    color: black;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 120%;
    
}   

.app-2-info p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
}

footer{
    height: 348px;
    width: var(--desktop-width);
    background:#001931;
    color: #ffffff;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.footer-content
{
    width: 1360px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px 0px;
}

.social{
    margin-right: 30px;
}
.social img{
    size: 20px;
    width: 20px;
    margin-right: 10px;
}
.social h2{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.copyright{
    margin-top: 30px;
    width: 1360px;
    height: 64px;
}
.copyright p{
    text-align: center;
}

.solid{
    border: 1px solid #627382;
    width: 1360px;
    margin-top: 80px;
}