* {
    margin: 0px;
    padding: 0px;
    
}

.nav-bars{
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
}

.nav-bars ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px 0px;
}

.nav-bars ul li a{
    text-decoration: none;
    color:black;
}

.nav-bars ul li a:hover{
    color: #0cf36c;
}

.nav-logoes{
    margin-left: 50px;
}
.nav-logoes img{
    height: 60px;
    width: 139px;
}

.nav-bars button{
    margin-right: 50px;
    height: 44px;
    width: 164px;
    border-radius: 4px;
    color: white;
    background-color:#469165;
    border-color: transparent;
    font-size: 16px;
}

.nav-bars button:hover{
    background-color: transparent;
    color: #469165;
    border-color:#469165;
}

